html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: linear-gradient(
    180deg,
    rgba(166, 231, 231, 1) 0%,
    rgba(136, 224, 231, 0.4206932773109243) 44%,
    rgba(67, 211, 240, 0.13778011204481788) 100%
  );
}

.articles {
  grid-area: articles;
}

.aside {
  grid-area: aside;
}

.container__article {
  padding: 15px;
}
.header {
  position: sticky;
  top: 0;
}
.header__h1 {
  color: #000000;
}
.header__h2 {
  color: #7e75d1;
}
.header__h3 {
  color: #a26793;
}
.header__h4 {
  color: #11add0;
}
.main {
  max-width: 1000px;
  /*margin: 0 auto;*/
}

.main__header {
  grid-area: main__header;
}
.menu {
  background: #dbd9e9;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__item {
  color: #228cdb;
  display: inline-block;
  margin-right: 30px;
}
.menu__item--homepage {
  background: #96e3a7;
}

.footer {
  background: #fefefe;
  color: #228cdb;
  padding: 17px;
}

@media screen and (max-width: 425px) {
  body {
    background: white;
    margin: 8px auto;
    padding: 16px;
  }

  .footer {
    background: black;
  }

  .aside {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 16px;
  }
  .main {
    display: grid;
    grid-template-areas:
      "main__header main__header main__header"
      "articles . aside";
    grid-template-columns: 1fr 64px 200px;
    margin: 16px auto;
  }
}
