body {
  background: #e1f1f4;
  /*position: relative;*/
}
.container__article {
  padding: 15px;
} 
.header {
  position: sticky;
  top: 0;
}
.header__h1 {
  color: #000000;
}
.header__h2 {
  color: #7e75d1;
}
.header__h3 {
  color: #a26793;
}
.header__h4 {
  color: #11add0;
}
.main {
  max-width: 1000px;
  /*margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px 5px 5px 15px; */
  margin: 0 auto;
}
.menu {
  background: #dbd9e9;
  padding: 15px;
  border-radius: 10px;
  
}
.menu__item {
  color: #228cdb;
  display: inline-block;
  margin-right: 8px;
}
.menu__item--homepage {
  background: #96e3a7;
}

.site-footer {
  /*position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 2020;
  bottom: 0;
  height: 20px;
  width: 100%;*/
  background: #fefefe;
  color: #228cdb;
  padding: 17px;
}

